<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/style.css" />
  <title>Jordi Izquierdo</title>
</head>

<body>
  <h1>Welcome to my blog!</h1>
  <p>I'm Jordi Izquierdo, and I'm on a quest for knowledge. This is where I share my discoveries, insights, and learning experiences.</p>
  <p>Whether you're a fellow enthusiast or just passing by, join me in this journey of self-improvement. ✨✨</p>
  <h3>Recent posts</h3>
  <ul>
    {% for article_data in article_data_list %}
    <li class="post-title">
      <a href="/blog/{{article_data.file_name}}">{{article_data.title}}</a>
    </li>
    {% endfor %}
  </ul>
</body>

</html>